In [1]:
import pandas as pd

# Import CSV data

In [19]:
cab_data = pd.read_csv('~/dg_intern/DataSets/Cab_Data.csv')
cab_data.head()

,Transaction ID,Date of Travel,Company,City,KM Travelled,Price Charged,Cost of Trip
0,10000011,42377,Pink Cab,ATLANTA GA,30.45,370.95,313.635
1,10000012,42375,Pink Cab,ATLANTA GA,28.62,358.52,334.854
2,10000013,42371,Pink Cab,ATLANTA GA,9.04,125.20,97.632
3,10000014,42376,Pink Cab,ATLANTA GA,33.17,377.40,351.602
4,10000015,42372,Pink Cab,ATLANTA GA,8.73,114.62,97.776

Identify the companies we will focus on

In [ ]:
list = []
for name in cab_data['Company']:
    if list != []:
        if name in list:
            continue
        else:
            list.append(name)
    elif list == []:
        list.append(name)
print(list)

In [26]:
city = pd.read_csv('~/dg_intern/DataSets/City.csv')
city.head()
print('We are invesgating ' + str(len(city['City'])) + ' cities in total.')

We are invesgating 20 cities in total.

In [9]:

customer_id = pd.read_csv('~/dg_intern/DataSets/Customer_ID.csv')
customer_id.head()

   Customer ID Gender  Age  Income (USD/Month)
0        29290   Male   28               10813
1        27703   Male   27                9237
2        28712   Male   53               11242
3        28020   Male   23               23327
4        27182   Male   33                8536

In [8]:

transaction = pd.read_csv('~/dg_intern/DataSets/Transaction_ID.csv')
transaction.head()

   Transaction ID  Customer ID Payment_Mode
0        10000011        29290         Card
1        10000012        27703         Card
2        10000013        28712         Cash
3        10000014        28020         Cash
4        10000015        27182         Card